body {background-color: #EAE6E5;
	border-radius:25px;

}

h1 {
	font-size:30px;
	background-color: #114B5F;
	color:white;
	padding:50px;
	text-align: center;
}

h3 {
	font-size:35px;
	background-color: #114B5F;
	color: #F6F7EB;
	padding: 10px 20px;
	border-radius: 25px;
}

.icons {
	width:30px;
	height:auto;
}

.news{width: 60px;
	height: auto;

}

/*Form Section*/
.container {background-color: #F6F7EB;
	margin: 30px 100px;
	border-radius: 25px;
}

.formSection{border-radius: 25px;
	margin-bottom: 50px;
	border-radius:25px;

}

img {width: 10px;
	height: auto;

}

form {padding: 10px 20px;
	line-height: 25px;
}

/*Article Section*/
.articlesSection{
	margin-top: 100px;
}

footer {text-align: center;

}

button {
	background-color:#114B5F;
	color: #F6F7EB;
	border-radius:25px;

}
